<div class="header">
	<h1>Wikicleta</h1>
	
	<div class="acciones">
		<%= link_to 'Iniciar Sesión', '#' %>
	</div>
</div>

<div class="subheader">
	<div class="opciones">
		<%= link_to 'Lugares', lugares_path, :class => 'lugares' %>
	</div>
</div>