<h1>Nuevo lugar</h1>

<p>Selecciona su ubicación haciendo click en el mapa</p>
<p>Usar mí ubicación actual</p>
<%= link_to 'Determinar', '#', :class => 'pregunta-pos' %>

<%= render :partial => 'form', :locals => {:url => lugares_path} %>