<h1>Nuevo lugar</h1>

<div class="new-f">
	<%= render :partial => 'form', :locals => {:url => lugares_path} %>
</div>

<% content_for :acciones do %>
	<%= link_to 'Atrás', lugares_path, :class => "boton azul" %>
<% end %>