<h1>Nuevo lugar</h1>

<p>Selecciona una ubicación haciendo click sobre el mapa</p>
<p>Usar mí ubicación actual</p>
<%= link_to 'Determinar', '#' %>

<%= render 'form' %>


<%= link_to 'Back', lugares_path %>
