<h1>Nuevo lugar</h1>

<p>Selecciona su ubicación haciendo click en el mapa</p>
<p>Usar mí ubicación actual&nbsp;&nbsp;&nbsp;<%= link_to 'Determinar', '#', :class => 'pregunta-pos boton amarillo' %></p>


<%= render :partial => 'form', :locals => {:url => lugares_path} %>

<% content_for :acciones do %>
	<%= link_to 'Atrás', lugares_path, :class => "boton azul" %>
<% end %>