body {
	margin-top: 0px;
}

body, html, * html {
	height: 100%;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

a { color: #E5E5E5; text-decoration: none }
a:visited, a:hover { color: white; }
a:hover { background-color:none }

#notice {
  color: #007B54;
}

#alert {
  color: #7E1803;
}


#header { overflow: hidden; display: inline-block; margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: arial, helvetica, sans-serif; vertical-align: baseline; min-width: 1044px; background-color: #2E567C; border-bottom-style: solid; border-bottom-width: 3px; border-bottom-color: #5889CC; height: 91px; }
#header { display: block; }
#header div, #header span, #header object, #header iframe, #header h1, #header h2, #header h3, #header h4, #header h5, #header h6, #header p, #header pre, #header a, #header abbr, #header acronym, #header address, #header code, #header del, #header dfn, #header em, #header img, #header dl, #header dt, #header dd, #header ol, #header ul, #header li, #header fieldset, #header form, #header input, #header label, #header legend, #header caption, #header tbody, #header tfoot, #header thead, #header tr { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: arial, helvetica, sans-serif; vertical-align: baseline; }
#header blockquote, #header q { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: arial, helvetica, sans-serif; vertical-align: baseline; quotes: "" ""; }
#header blockquote:before, #header blockquote:after, #header q:before, #header q:after { content: ""; }
#header th, #header td, #header caption { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: arial, helvetica, sans-serif; vertical-align: baseline; text-align: left; font-weight: normal; vertical-align: middle; }
#header table { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: arial, helvetica, sans-serif; vertical-align: baseline; border-collapse: separate; border-spacing: 0; vertical-align: middle; }
#header a img { border: none; }
#header li { list-style-type: none; }
#header *:focus { outline: 0; }
#header #logo { margin: 20px 0 15px 25px; float: left; }
#header #logo a { display: block; text-indent: -9999px; width: 177px; height: 56px; overflow: hidden; background-image: url(logo.png); background-repeat: no-repeat; }
#header ul#cuenta, #header ul#secciones { list-style-type: none; overflow: hidden; display: inline-block; float: right; margin-top: 30px; padding: 10px; }
#header ul#cuenta, #header ul#secciones { display: block; }
#header ul#cuenta li, #header ul#secciones li { float: left; margin-left: 10px; }
#header ul#cuenta li:first-child, #header ul#secciones li:first-child { margin-left: 0; }
#header ul#cuenta li, #header ul#secciones li { border-left-style: solid; border-left-width: 2px; border-left-color: #2C3B4C; padding-left: 10px; font-size: 16px; }
#header ul#cuenta li:first-child, #header ul#secciones li:first-child { border-left: none; padding-left: 0; }
#header ul#cuenta li#login, #header ul#secciones li#login { border: none; margin-left: 0; padding-left: 0; }
#header ul#cuenta li a, #header ul#secciones li a { color: #c9c3e6; text-decoration: none; font-weight: normal; }
#header ul#cuenta li a:hover, #header ul#secciones li a:hover { color: white; }
#header ul#cuenta li a.active, #header ul#secciones li a.active { color: #bff740; }
#header ul#cuenta li a.active:hover, #header ul#secciones li a.active:hover { color: #bff740; }
#header ul#cuenta { background-color: #0A1C30; padding-left: 15px; padding-right: 15px; margin-right: 25px; margin-left: 10px; }
#header ul#cuenta li a { color: #FFC424; }
#header ul#cuenta li a:hover { color: #74d0f4; }
#header ul#cuenta li a.active { color: #bff740; }
#header ul#cuenta li a.active:hover { color: #bff740; }

.oculto { display:none }

.radio-3 { -moz-border-radius: 3px; -webkit-border-radius: 3px; }
.radio-5 { -moz-border-radius: 5px; -webkit-border-radius: 5px; }
.radio-7 { -moz-border-radius: 7px; -webkit-border-radius: 7px; }

.as-link {
	border:none;
}

.boton, .boton:visited {
	display: inline-block;
	padding: 5px 10px 6px;
	color: #fff;
	text-decoration: none;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
	font-size: 13px;
	font-weight: bold;
	line-height: 1;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
}

.small.boton, .small.boton:visited { font-size: 11px}

.largo, .largo:visited { 
	font-size: 14px;
	padding: 8px 14px 9px;
}

.super.boton, 
.super.boton:visited { 
	font-size: 34px;
	padding: 8px 14px 9px;
}

.control:hover { background-color: #9FA1AD; }
.control { background-color: #7C7D87; }


.sobrio, .sobrio:visited	{ background-color: #BFBCC6; }
.sobrio:hover					{ background-color: #DBD8E4; }
.negro, .negro:visited	{ background-color: #343336; }
.negro:hover					{ background-color: #545357; }
.rosa, .rosa:visited	{ background-color: #e22092; }
.rosa:hover					{ background-color: #c81e82; }
.green.boton, .green.boton:visited	{ background-color: #91bd09; }
.green.boton:hover				        { background-color: #749a02; }
.rojo, .rojo:visited		{ background-color: #e62727; }
.rojo:hover					{ background-color: #cf2525; }
.orange.boton, .orange.boton:visited	{ background-color: #ff5c00; }
.orange.boton:hover				{ background-color: #d45500; }
.azul, .azul:visited   	        { background-color: #2981e4; }
.azul:hover					{ background-color: #2575cf; }
.amarillo, .amarillo:visited	{ background-color: #ffb515; }
.amarillo:hover				{ background-color: #fc9200; }

.form-actions {
	margin-top: 30px;
	width: 80%;
}

.form-actions span { float: right; }
.form-actions span a { margin-right: 10px; }

.new-f {
	padding: 15px 0px 0px 50px;
}