.banda, .lugares .acciones { background-color:#3E3E3E }

.lugares .contenedor {
	padding: 20px;
}

.lugares .contenedor > * {
	margin-left:30px;
}

.lugares .acciones {
	padding: 15px;
	width: auto;
}

.lugares h1 {
	font-size: 28px;
	font-family: Gill Sans, Gill Sans MT, sans-serif;
}

.lugares .acciones a { margin-right: 10px }

.lugares .vacio p, .lugares .vacio a {
	position: relative;
	top: 50%;
	font-size: 18px;
}
.lugares .vacio {
	height: 500px;
	width:auto;
	text-align: center;
}

.field label {
	font-size: 12px;
	font-weight: bold
}

.field input, .field textarea {
	overflow: hidden; 
	height: auto !important; 
	height: 1%;
  border: 1px solid #8496ba;
  cursor: text;
  font-size: 12px;
  font-family: Verdana;
  min-height: 1px;
  z-index: 999;
  margin: 5px 0 8px 0;
  padding: 5px 8px;
  background-color: #fff;
  list-style-type: none;
  clear: left;
}

.lugaes .redes-sociales {
	padding: 10px 3px 5px 3px;
	background-color: black;
	width: 350px;
	min-width: 250px;
	max-width: 450px;
	text-align:center;
	color: white;
	font-weight: bold;
	font-size: 11px;
}

.lugares .redes-sociales .facebook {
	margin-left: 10px;
}

.lugares .redes-sociales span {
	position: relative;
	bottom: 10px;
	margin-left: 7px;
}

.lugares .auxiliares {
	margin-top: 28px;
}

.lugares .auxiliares a {
	float:right;
}

.lugares .listado {
	padding: 15px;
	margin-top: 20px;
}

.lugares .listado .lugar {
	background-color: #DEE9E3;
	padding: 10px;
	width: 95%;
	height: 25px;
	margin-bottom: 10px;
}

.lugares .listado .lugar span.nombre {
	font-size: 14px;
	vertical-align:middle;
	margin-left: 5px;
}

.lugares .listado .lugar span.controles a {
	margin-right: 10px;
}
.lugares .listado .lugar span.controles {
	float: right;
}

.lugares .pagination {
	width: 30%;
	margin-left: auto;
	margin-right: auto;
}

.lugares .pagination em, .lugares .pagination span, .lugares .pagination a  { font-weight: bold; }
.lugares .pagination a { color:#406DBC; }
.lugares .pagination a:hover { text-decoration: underline; }

.lugares .guess-location {
	padding: 15px;
	background-color:#CFCFCF;
	width: 330px;
}

.lugares .guess-location .determinator { float:right }

.field #mapa-editable { 
	width: 350px;
	padding: 10px;
}
.field #mapa-editable p { font-style: italic }